doctype html
html(style="height: 100%;width: 100%;")
  head
    title= title
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/Layout.css')
  body(bgcolor="#FFFFFF",style="height: 100%;width: 100%;display:flex;flex-direction:column;",oncontextmenu="window.event.returnValue=false" onselectstart="return PAGE_CANSELECT;")
    script(src='js/vue.js')
    block content